@media (max-width: 600px) {
    .logo > a {
        background-size: 70vw;
        width: 70vw;
    }
}

@media (max-width: 1000px) {
    .mobile-menu {
        display: block;
    }
    .desktop-menu {
        display: none;
    }

    a.link-button,
    .action-button {
        font-size: 1.5em;
    }

    .content-wrapper.error-container {
        font-size: 2em;
    }
}

@media (min-width: 1000px) {
    .mobile-menu-items.active,
    .mobile-menu {
        display: none;
    }
    .desktop-menu {
        display: block;
    }
}
