{% for image in content.images %}
<div class="lil-gallery-image-card">
    <div class="card-preview">
        <a class="lil-gallery-image-link" href="/lil-gallery-image/{{image.imageId}}" data-image-id="{{image.imageId}}">
            <img src="https://images.hive.blog/320x0/{{image.imageUrl}}" alt="LIL image" />
        </a>
    </div>
    {% if user.is_authenticated %}
    <div class="card-header">
        <ul class="lil-fivestar-list">
            {% for i in "x"|ljust:"5" %}
            <li><span class="lil-rating-star" data-image-id="{{image.imageId}}" data-rating-rate="{{forloop.counter}}">{% if forloop.counter <= image.ratingScore %}&#128420;{% else %}&#9825;{% endif %}</span></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="card-footer">
        <ul>
        {% for tag in image.tags %}
            <li><a href="/lil-gallery/{{tag}}">#{{tag}}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}

